<div *ngIf="item" class="item-details">
    <div class="item-header">
        <img class="mainImage" [src]="
        item.mainImage ||
        'https://static.hertz-audio.com/media/2021/05/no-product-image.png'
      " alt="" />
    </div>

    <div class="item-body">
        <div class="item-description">
            <h3>{{ item.name }}</h3>
            <h3>Descrição:</h3>
            <p>{{ item.description | slice : 0 : 1000 }}</p>
        </div>

        <div class="item-info">
            <h3>Informações adicionais:</h3>
            <ul>
                <li><strong>Preço:</strong> {{ item.price }}</li>
                <li><strong>Tipo:</strong> {{ item.type }}</li>
                <li><strong>Plataforma:</strong> {{ item.platform }}</li>
                <li><strong>Idiomas:</strong> {{ item.languages }}</li>
                <li><strong>Classificação geral:</strong> {{ item.overallRating }}</li>
                <li><strong>Avaliações:</strong> {{ item.ratings }}</li>
            </ul>
        </div>

        <div class="item-media">
            <h3>Mídia</h3>
            <div class="item-images">
                <img [src]="item.mainImage" alt="{{ item.name }}" />
                <img *ngFor="let str of item.secondaryImages" [src]="item.secondaryImages" alt="{{ item.name }}" />
            </div>
            <div class="item-video">
                <a href="item.video"> {{ item.video }}</a>
            </div>
        </div>
    </div>

    <div class="button">
        <button type="submit" (click)="dashboard()">dashboard</button>
    </div>
</div>