<div *ngIf="user" class="profile">
    <div class="profile-header">
        <img class="profile-picture" [src]="'assets/icons/' + user.profilePicture" alt="" />
        <div>
            <h1 class="profile-name" *ngIf="user">{{ user.name }}</h1>
            <button *ngIf="!following" (click)="followUser()">Follow</button>
            <button *ngIf="following" (click)="unfollowUser()">Unfollow</button>
        </div>
    </div>

    <div class="profile-links">
        <h2 class="profile-subtitle">Minha Biblioteca</h2>
        <a *ngFor="let item of user?.library">
            <p (click)="goToItem(item)">{{ item }}</p>
        </a>

        <h2 class="profile-subtitle">Minhas Listas</h2>
        <div class="button-container">
            <button (click)="goToWishlist()">Wishlist</button>
            <button href="#">Listas Personalizadas</button>
            <button (click)="goToFollowers()">Seguidores: {{ userFollowers }}</button>
            <button (click)="goToFollowing()">
        Seguindo: {{ user.followingLists.length }}
      </button>
        </div>
    </div>

    <div class="button">
        <button (click)="editProfile()">Editar perfil</button>
    </div>

    <div class="button">
        <button (click)="dashboard()">Dashboard</button>
    </div>
</div>