<div *ngIf="user" class="profile">
    <div class="profile-header">
        <img class="profile-picture" src="https://www.example.com/profile-picture.jpg" alt="Profile Picture" />
        <h1 class="profile-name" >Perfil do {{user.name}}</h1>
    </div>

    <div class="profile-links">
        <h2 class="profile-subtitle">Minha Biblioteca</h2>
        <a href="#">Jogo1</a>
        <a href="#">Jogo2</a>
        <a href="#">Jogo3</a>
        <a href="#">Jogo4</a>

        <h2 class="profile-subtitle">Minhas Listas</h2>
        <a href="#">Wishlist</a>
        <a href="#">Listas Personalizadas</a>
        <a href="#">Listas de Seguidores</a>
    </div>
</div>