<div *ngIf="user" class="profile">
    <div class="profile-header">
        <img class="profile-picture" [src]="
        user.profilePictureUrl ||
        'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'
      " alt="" />
        <h1 class="profile-name">{{ user.name }}</h1>
    </div>

    <div class="profile-links">
        <h2 class="profile-subtitle">Minha Biblioteca</h2>
        <a *ngFor="let item of user?.library">
            <p (click)="goToItem(item)">{{ item }}</p>
        </a>

        <h2 class="profile-subtitle">Minhas Listas</h2>
        <a href="#">Wishlist</a>
        <a href="#">Listas Personalizadas</a>
        <a href="#">Listas de Seguidores</a>
        <a href="#">Utilizadores a Seguir</a>
    </div>

    <div class="button">
        <button (click)="dashboard()">Dashboard</button>
    </div>
</div>