<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
<br>
<h1>Bem vindo {{currentUser?.name}}</h1>
<br>
<div class="container">
  <div class="nav_menu">
    <a class="menu_link" id="dashboard">
      <h3>Dashboard</h3>
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="menu_link" id="perfil" (click)="getUserProfile()">
      <h3>Perfil de Utilizador</h3>
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="menu_link" id="perfil" (click)="searchUsers()">
      <h3>Pesquisa de Utilizadores</h3>
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="menu_link" id="wishlist" (click)="wishlist()">
      <h3>Wishlist</h3>
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="menu_link" id="logout" (click)="logout()">
      <h3>Logout</h3>
      <span class="material-symbols-rounded">chevron_right</span>
    </a>

  </div>



  <main>
    <div class="dashboard">
      <div class="users">
        <div class="top">
          <h4>Users</h4>
          <span class="material-symbols-rounded">more_horiz</span>
        </div>
      </div>
      <div class="wishlist">
        <div class="top">
          <h4>Wishlist</h4>
          <span class="material-symbols-rounded">more_horiz</span>
        </div>

      </div>

      <div class="following">
        <div class="top">
          <h4>Following</h4>
          <span class="material-symbols-rounded">more_horiz</span>
        </div>

      </div>
      <div class="followed_by">
        <div class="top">
          <h4>Followed By</h4>
          <span class="material-symbols-rounded">more_horiz</span>
        </div>

      </div>
      <div class="games_library">

        <h2>Biblioteca de items</h2>
        <a class="items" *ngFor="let item of currentUser?.library">
          <p >Item: {{item}}</p>
        </a>
        <div class="library"></div>
      </div>


    </div>
  </main>
</div>
</body>
</html>

